<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705510204267-2vlmsik1estr7afhskohtef57pluubmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705510204267-2vlmsik1estr7afhskohtef57pluubmi</string>
	<key>API_KEY</key>
	<string>AIzaSyC8eEGWp-OceGQmain-cb0bj0IoScc-lXc</string>
	<key>GCM_SENDER_ID</key>
	<string>705510204267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thenotes.thenotes</string>
	<key>PROJECT_ID</key>
	<string>the-notes-36hours-tutor</string>
	<key>STORAGE_BUCKET</key>
	<string>the-notes-36hours-tutor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705510204267:ios:6ea26a2a4a176230f1a22e</string>
</dict>
</plist>